<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beginning</title>
</head>
<body>

    <h1>Welcome to the start page!</h1>
    <a class="btn btn-primary" href="{% url 'quiz_getter' %}" role="button">Get available quiz list</a>
    <a class="btn btn-primary" href="{% url 'complete_quiz_getter' %}" role="button">Get passed quiz list</a>



</body>
</html>